.container {
  width: 1140px;
  margin: auto;
}
.slider-div {
  text-align: center;
  padding-top: 25px;
}
.slider-text {
  padding: 40px;
  text-align: center;
}

.slider-text h1 {
  font-size: 34px;
}
